*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .slide-2{
  .container{
    width: 100%;

    .row{
      display: flex;
      flex-wrap: wrap;
    }
    .product-range{
        box-shadow: 0 0 10px #ccc;
        padding: 18px;
        background-color: #fff;
        margin: 10px 5px;
      .product-fil{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      .clr-btn{
        color: blue;
        cursor: pointer;
      }
   
    }
      .cate{
          h3{
            letter-spacing: 1px;
            margin-top: 10px;
            
          }
          h4{
            font-size: 15px;
            color:rgba(128, 128, 128, 0.5);
            margin-top: 15px;
          }
          p{
            font-size: 18px;
            margin-top: 15px;
            margin-left: 25px;
          }
      }
    }
    
  }
  
  
  .product-bot{
    border-bottom: solid 1px #d4cdcd73;
    margin-top: 30px;
   
  }

  .akg button{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 10px;
    border:none;
    background-color: #a9a9a973;
  }
  .akg-icon{
    margin-right: 10px;
  }
  .select select{
    padding: 0px;
    font-size: 16px;
  }
  .select .to{   
    font-size: 20px;
    font-weight: 500;
    color: gray;
    padding: 0 5px;
  }
  .row1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .css-ny6982-MuiPaper-root-MuiCard-root{
    box-shadow: none !important;
    padding: 10px;
  }
  .height-card{
    min-height:355px;
    margin: 10px 5px;
    // box-shadow: 0 0 5px #000;
  } 
  .product{
    box-shadow: 0 0 10px #ccc;
    padding: 10px;
    background-color: #fff;
    margin: 10px 5px;
  }
  .product-head{
    font-size: 18px;
    padding: 0 10px;
  }
  .product span{
    color: rgba(128, 128, 128, 0.637);
    font-size: 15px;
    margin-left: 10px;
  }
  .product {

    .list{
      h2{
        font-size: 18px;
        padding:0 10px;
      }
      .sort{
        display: flex;
       li{
        list-style: none;
       }
       a{
        text-decoration: none;
        padding: 10px;
        position: relative;
        color: #000;
       }
        .bold{
          font-weight: 600;
        }
       
        .line::before{
          content: "";
          position: absolute;
          width: 0;
          border-bottom: 4px solid #00bcd4;
          bottom: 0;
          left: 0;
          transition: all 0.5s ease;
        }
        .line:hover.line::before{
          width: 100%;
        }
      }
    }

    // .list{
    //   position: relative;
    // }
    //  li{
    //   list-style-type:none;
    //   padding: 5px 10px;
    // }
    //  li::before{
    //   content: "";
    //   position: absolute;
    //   border: 1px solid blue;
    //   width: 0px;
    //     top: 35px;
    //     left: 0;
    //     transition: all 0.3s ease;
    //     color:blue;
    //   cursor: pointer;
    // }
    // li:hover::before{
    //   width: 100%;
    // }
    // .product-bott{
    //   border-bottom: solid 1px rgba(128, 128, 128, 0.164);
    //  margin-bottom: 20px;
    //  margin-top: -16px;
    // }

  }
  
  .product Card{
    width:100%;
   
  }
  .card-img img{
    width: 90%;
    height: 200px;
  }
  .card-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title{
   
    h5{
      font-size: 12px;
      font-weight: 100;
     
    }
     p{
      font-size: 12px;
      color: #80808099;
      line-height: 2;
    }
  }
  
  .card-add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ad{
      font-size: 14px;
      width: 30px;
      height: 20px;
      border-radius: 5px;
      border: none;
      background-color: rgba(128, 128, 128, 0.3803921569);
      font-weight: 600;
      color: #fff;
      
    }
   
    .heart{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
    }
  }
 
  .star{
    display: flex;
    align-items: center;
    margin-top: 10px;
     p{
      margin:0 5px 0 0;
      color: gray;
      font-size: 14px
    }
    .rate {
      padding: 0px 2px;
      background-color: green;
      color: #fff;
      font-weight: 600;
      font-size: 14px;
      border-radius: 5px;
      display: flex;
      align-items: center;
    }
  }
  .css-1yuq9pa-MuiPaper-root-MuiCard-root{
    box-shadow: none !important;
  }
  .css-46bh2p-MuiCardContent-root {
    padding: 0 !important; 
}
  .amount {
    display: flex;
    align-items: center;
    margin-top: 10px;
     h3{
      font-size: 18px;
      color: black;
      font-weight: 600;
    }
    .amount1{
      color: gray;
      font-size: 15px;
      margin: 0 10px;
    }
    h4{
      color:green;
      font-size: 14px;
    }
  }
  .free{
    h3{
      font-size: 15px;
      color: rgb(128, 128, 128);
    }
  }
 
  
  
  .select{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .checked{
    padding: 15px 0;
  }
  .checked input,h2{
    margin: 12px 0;
  }  
}
@media(min-width:320px){
  .row{
    display:flex;
    flex-wrap: wrap;
  }
  .mcol{
    width: 100%;
  }
  .mcol1{
    width: 100%;
  }

  .row1{
    display: flex;
    flex-wrap: wrap;
  }
  .rcard{
     width:50%;
  }
  
  .sort{
    display:none !important;
  }
}
@media(min-width:720px){
  .row{
    display:flex;
    flex-wrap: wrap;
  }
  .mcol{
    width: 100%;
  }
  .mcol1{
    width: 100%;
  }

  .row1{
    display: flex;
    flex-wrap: wrap;
  }
  .rcard{
     width:50%;
  }
  
  .sort{
    display:none !important;
  }
}

@media(min-width:1020px){
  .row{
    display:flex;
    flex-wrap:nowrap;
  }
  .mcol{
    width: 20%;
  }
  .mcol1{
    width: 80%;
  }

  .row1{
    display: flex;
    flex-wrap:nowrap;
  }
  .rcard{
     width:25%;
  }
  
  .sort{
    display:flex !important;
  }
}